body{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    /* max-width: 700px; */
    margin: 0 auto;  
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.main-container{
    flex-grow: 1;
    padding-left: 25px;
    padding-right: 25px;
}

h1{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    letter-spacing: 1px;   
}

input{
    width: 250px;
    height: 30px;
}

img{
    width: 100px;
}

header{
    margin-top: 16px;
    margin-bottom: 60px;
}

header a{
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
header a:hover{
    color: black;
}


footer{
    color: white;
    margin-top: 60px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

input{
    border: 1px solid #333333;
    padding-left: 10px;
}

button{
    border: 1px solid #333333;
    cursor: pointer;
    padding: 8px;
    background-color: #333333;
    color: white;
    transition: 0.3s;
}

button:hover{
    background-color:rgba(0, 0, 0, 0.6) ;
}


/* media queries */

@media screen and (max-width: 800px){
    button{
        padding: 5px;
        width: 50px;
        height: 35px;
    }

    .main-container{
        padding-left: 10px;
        padding-right: 10px;
    }

    body{
        align-items: center;
    }
}