<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">

    <title>about</title>
</head>
<body>
    <div class="main-container">
        {{>headers}}
        <img src="./images/c2e2f77d-436b-4360-838a-38bfeccd13d5.jpg" alt="">
        <p>This created by {{name}}</p>
    </div>
    

    {{>footer}}

</body>
</html>